<div class="search-address-view-wrap">
  <div class="search-field-button-wrap">
    <mat-form-field class="example-form-field">
      <mat-label>Your address here</mat-label>
      <input
        matInput
        type="text"
        [formControl]="addressFormControl"
        (keydown.enter)="getAddressCandidates()"
        (keydown)="getAddressSuggestions()"
      >
      <button
        *ngIf="addressFormControl.valid"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        matTooltip="Clear search criteria and results"
        (click)="resetAddressSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="addressFormControl.touched && addressFormControl.invalid">
        An <strong>address</strong> is required to search
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="addressFormControl.invalid"
      (click)="getAddressCandidates()"
    >Search</button>
  </div>

  <ng-container #addressResults>
    <app-error
      [condition]="!isAddressValid()"
      [errorText]="'No addresses found'"
    ></app-error>

    <div class="search-results-wrap" *ngIf="addressCandidates?.candidates!.length > 0">
      <app-loading-bar [loading]="loading"></app-loading-bar>
      <app-address-details
        [array]="addressCandidates?.candidates!"
      ></app-address-details>
    </div>
  </ng-container>

</div>
