<div class="address-details-accordion-wrap">
  <mat-accordion *ngIf="array!.length > 0">
    <mat-card-title>Found addresses: ({{array!.length}})</mat-card-title>
    <mat-expansion-panel class="address-details-expansion-panel" *ngFor="let element of array">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon fontIcon="location_on"></mat-icon>
          {{element.address}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-map
        [longitude]="element.location.x"
        [latitude]="element.location.y"
      ></app-map>
    </mat-expansion-panel>
  </mat-accordion>
</div>

